@font-face {
  font-family: "iconfont"; /* Project id 4777078 */
  src: url('//at.alicdn.com/t/c/font_4777078_0lyhkh5gbudb.woff2?t=1734841918891') format('woff2'),
       url('//at.alicdn.com/t/c/font_4777078_0lyhkh5gbudb.woff?t=1734841918891') format('woff'),
       url('//at.alicdn.com/t/c/font_4777078_0lyhkh5gbudb.ttf?t=1734841918891') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tongjijisuan:before {
  content: "\e659";
  font-size: 18px;
}
.icon-github:before {
  content: "\e799";
  font-size: 16px;
}

.icon-bilibili-fill:before {
  content: "\ea95";
  font-size: 22px;
}

.icon-kongtiao:before {
  content: "\e90d";
  font-size: 22px;
}

.icon-qq:before {
  content: "\e6ca";
  font-size: 22px;
}

.icon-email:before {
  content: "\e603";
  font-size: 22px;
}

.icon-weixin:before {
  content: "\e607";
  font-size: 22px;
}

.icon-GitHub:before {
  content: "\e8c6";
  font-size: 22px;
}

.icon-pinglun:before {
  content: "\e6c9";
  font-size: 22px;
}
