@font-face {
  font-family: "iconfont"; /* Project id 4777078 */
  src: url('//at.alicdn.com/t/c/font_4777078_m33cx37e4f.woff2?t=1734843790796') format('woff2'),
       url('//at.alicdn.com/t/c/font_4777078_m33cx37e4f.woff?t=1734843790796') format('woff'),
       url('//at.alicdn.com/t/c/font_4777078_m33cx37e4f.ttf?t=1734843790796') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 15px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiai:before {
  content: "\e601";
}

.icon-shuoshuo:before {
  content: "\e72d";
}

.icon-shipin:before {
  content: "\e600";
}

.icon-yinle2:before {
  content: "\e6b2";
}

.icon-iconfontzhizuobiaozhun023101:before {
  content: "\e667";
}

.icon-youlian:before {
  content: "\e688";
}

.icon-zhaopian:before {
  content: "\e618";
}

.icon-guidang:before {
  content: "\e666";
}

.icon-24gf-tags2:before {
  content: "\e887";
}

.icon-fenlei:before {
  content: "\e60d";
}

.icon-xintiao:before {
  content: "\e663";
}

.icon-tongjijisuan:before {
  content: "\e659";
}

.icon-github:before {
  content: "\e799";
  font-size: 16px;
}

.icon-bilibili-fill:before {
  content: "\ea95";
  font-size: 22px;
}

.icon-kongtiao:before {
  content: "\e90d";
  font-size: 15px;
}

.icon-qq:before {
  content: "\e6ca";
  font-size: 22px;
}

.icon-email:before {
  content: "\e603";
  font-size: 22px;
}

.icon-weixin:before {
  content: "\e607";
  font-size: 22px;
}

.icon-GitHub:before {
  content: "\e8c6";
  font-size: 22px;
}

.icon-pinglun:before {
  content: "\e6c9";
}
